{# templates/default/default.html.twig #}
{% extends 'layout.html.twig' %}

{% block corps %}
    <div class="row row-cols-1 g-3">
        <div class="col">
            <div class="card shadow-sm h-100">
                <div class="card-body">
                    <h2 class="card-header">{{ action }} une personne:</h2>
                    <div class="container px-5 my-5">
                        <form id="editPersonne" method="post" action="personneEdit">
                            <input type="hidden" name="token" value="{% if(session.token) %}{{ session.token }}{% endif %}"/>    
                            <div class="mb-3" style="display:{{ displayId }};">
                                <label class="form-label" for="id_pers">id</label>
                                <input class="form-control" name="id_pers" id="id_pers" type="text" placeholder="id" value="{{ pers.id }}" readonly />
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="prenom">Prénom</label>
                                <input type="text" class="form-control" id="prenom" placeholder="Prénom" name="prenom" value="{{ pers.getPrenom }}">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="nom">NOM</label>
                                <input type="text" class="form-control" id="nom" placeholder="Nom" name="nom"  value="{{ pers.getNom|upper }}" required="true">
                            </div>
                            <div class="d-grid">
                                <button type="submit" id="submitButton" class="btn btn-primary btn-lg">{{ action }}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
