{# templates/default/default.html.twig #}
{% extends 'layout.html.twig' %}

{% block corps %}
    <div class="row row-cols-1 g-3">
        <div class="col">
            <div class="card shadow-sm h-100">
                <div class="card-body">
                    <h2 class="card-header">Liste des personnes:</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr><th scope="col">Id</th><th scope="col">Prénom</th><th scope="col">Nom</th><th scope="col"></th><th scope="col"></th></tr>
                        </thead>
                        <tbody>
                            {% for pers in personnes %}
                                <tr>
                                    <th scope="row">{{ pers.id }}</th>
                                    <td>{{ pers.getPrenom }}</td>
                                    <td>{{ pers.getNom|upper }}</td>
                                    <td><img src="public/img/edit.png" onclick="location.href = 'personneEdit?id={{ pers.id }}'" /></td>
                                    <td><img src="public/img/cross.png" onclick="location.href = 'personneDelete?id={{ pers.id }}'" /></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
		    <div class="card-footer">
			<a href="personneEdit" class="btn btn-primary mb-2 col-6 text-mb-2 white">Ajouter une personne</a>
		    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
