{# templates/default/credit.html.twig #}
{% extends 'layout.html.twig' %}

{% block corps %}
    <div class="row g-3">
        <div class="col">
	    <div class="card shadow-sm h-100">
		<div class="card-body">
		    <h2  class="card-header">A propos</h2>
		    <p class="card-text">Phaln est une petite librairie perso, conçue au départ dans un but pédagogique: apprendre la POO en PHP et aller vers une structure MVC.</p>
		    <p class="card-text">Auteur principal: Philippe Alluin.</p>
		    <p class="card-text">Contributeurs et testeurs:</p>
		    <ul class="list-group">
			<li class="list-group-item">Luc Gilot</li>
			<li class="list-group-item">Sony Chaprier</li>
		    </ul>
		</div>
	    </div>
	</div>
    </div>
{% endblock %}
