{# templates/default/default.html.twig #}
{% extends 'layout.html.twig' %}

{% block importantMessage %}
    <div class="col-lg-6 col-md-8 mx-auto">
	<h1 class="fw-light">Bienvenu sur DemoPhaln</h1>
	<p class="lead text-muted">Un exemple de développement selon un modèle MVC en utilisant la micro-librairie Phaln.</p>
	<h2 class="fw-light">Pour quoi faire?</h2>
	<p class="lead text-muted">{{ message }}</p>
    </div>
{% endblock %}

{% block corps %}
    {{ dump() }}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
	    <div class="card shadow-sm h-100">
		<div class="card-body">
		    <h2  class="card-header">M ?</h2>
		    <p class="card-text">La couche Model est basée sur 2 classes:</p>
		    <ul>
			<li>une entity qui reprend une table</li>
			<li>un repository qui manipule la table et ses entitées</li>
		    </ul>
		</div>
	    </div>
	</div>
        <div class="col">
	    <div class="card shadow-sm h-100">
		<div class="card-body">
		    <h2  class="card-header">V ?</h2>
		    <p class="card-text">La couche view est celle de présentation, c'est à dire l'ihm.</p>
		    <p class="card-text">Ici, elle utilise le moteur de template Twig (sans Symfony...).</p>
		</div>
	    </div>
	</div>
        <div class="col">
	    <div class="card shadow-sm h-100">
		<div class="card-body">
		    <h2  class="card-header">C ?</h2>
		    <p class="card-text">La couche Controller est la logique de l'application. Elle manipule des entitées via les repositories et génère la view.</p>
		    <p class="card-text">Un Controller est une classe contenant des Actions, c'est à dire des méthodes exécutable depuis une "route".</p>
		</div>
	    </div>
	</div>
    </div>
<!--    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"> -->
    <div class="row row-cols-1 g-3">
        <div class="col">
	    <div class="card shadow-sm h-100">
		<div class="card-body">
		    <h2 class="card-header">Routage ?</h2>
		    <p class="card-text">La ré-écriture d'url (URL Rewriting) est mis en place pour avoir des URLs "propres".</p>
		    <p class="card-text">Le fichier public/index.php est le seul à être accessible. Il utilise un "routeur" pour rediriger la "route" de l'url vers une action d'un controller.</p>
		</div>
	    </div>
	</div>
    </div>
<!--
<div class="row">
        <div class="col-md-4">
	    <h1>Le modèle de données</h1>
	    <p>Voici le modèle, simpliste, de la base de données de cette démonstration. <img src="public/img/modeleBdd.png" style="max-width: 100%;" /></p>
	</div>
      </div>
-->
{% endblock %}
