{# templates/default/default.html.twig #}
{% extends 'layout.html.twig' %}

{% block importantMessage %}
    <div class="col-lg-6 col-ld-8 mx-auto">
	<h1 class="fw-light">Erreur!</h1>
	<p class="lead text-muted">{{ message }}</p>
    </div>
{% endblock %}
