{# templates/base.html.twig#}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
    <head>
        <title>{% block title %}Bonjour!{% endblock %}</title>
	<base href="{{ urlBase }}">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="Démonstration d'une application MVC avec la librairie Phaln">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="{{ urlBase }}/public/img/logoPhaln.png">
        {% block stylesheets %}{% endblock %}
        {% block javascriptsHead %}	    
	{% endblock %}
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">Vous utilisez un navigateur web <strong>dépassé</strong>. S'il vous plait, <a href="http://browsehappy.com/">mettez à jour votre navigateur</a> pour améliorer votre experience de navigation.</p>
        <![endif]-->
    <header>
	{% block navMenu %}{% endblock %}  
	{% block navTitre %}
	{% endblock %}
    </header>	
    <main>
	{% block importantContent %}{% endblock %}
	{% block mainContent %}{% endblock %}
    </main>
	{% block footer %}{% endblock %}   
	{% block javascriptsFoot %}{% endblock %}
    </body>
</html>

