{# templates/layout.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Démo Phaln & Twig{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ urlBase }}/vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
    <style>
	.bd-placeholder-img {
	    font-size: 1.125rem;
	    text-anchor: middle;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    user-select: none;
	}

	@media (min-width: 768px) {
	    .bd-placeholder-img-lg {
		font-size: 3.5rem;
	    }
	}
    </style>
    <link rel="stylesheet" href="{{ urlBase }}/public/css/main.css">
{% endblock %}

{% block javascriptsHead %}
{% endblock %}  

{% block navMenu %}  
    <div class="collapse bg-dark" id="navbarHeader">
	<div class="container">
	    <div class="row">
		<div class="col-sm-8 col-md-7 py-4">
                    {% include 'menu.html.twig' %}
                </div>
		<div class="col-sm-4 offset-md-1 py-4">
		    <h4 class="text-white">Contact</h4>
		    <ul class="list-unstyled">
			<li><a href="mailto://contact@phaln.info" class="text-white">Email me</a></li>
		    </ul>
		</div>
	    </div>
	</div>
    </div>
{% endblock %}

{% block navTitre %}
    <div class="navbar navbar-dark bg-dark shadow-sm">
	<div class="container">
	    <a href="#" class="navbar-brand d-flex align-items-center">
		<img src="{{ urlBase }}/public/img/logoPhaln.png" style="max-width: 120px;">
		<strong>Phaln Skeleton</strong>
	    </a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	    </button>
	</div>
    </div>
{% endblock %}

{% block importantContent %}
    <section class="py-3 text-center container"">
	<div class="row py-lg-1">
	    {% block importantMessage %}{% endblock %}
	</div>
    </section>
{% endblock %}

{% block mainContent %}
<!--    <div class="album py-5 bg-light"> -->
    <div class="bg-light album py-4">
	<div class="container">
	    {%  block corps %}{% endblock %}
	</div>
    </div>
{% endblock %}

{% block footer %}
    <hr>
    <footer  class="text-muted py-5">
	<div class="container">
	    <p class="float-end mb-1">&copy; For world by PhAln.info</p>
	</div>
    </footer>
{% endblock %}

{% block javascriptsFoot %}
    <script src="{{ urlBase }}/vendor/twbs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}