{# empty Twig template #}
<h6 class="text-white"><a href="{{ urlBase }}">Accueil</a></h6>
<h6 class="text-white"><a href="{{ urlBase }}personneShowAll">Personnes</a></h6>
<h6 class="text-white"><a href="{{ urlBase }}ouvrages">Ouvrages</a></h6>
<h6 class="text-white"><a href="{{ urlBase }}credit">A propos</a></h6>

