{# templates/default/default.html.twig #}
{% extends 'layout.html.twig' %}

{% block corps %}
    <div class="row row-cols-1 g-3">
        <div class="col">
            <div class="card shadow-sm h-100">
                <div class="card-body">
                    <h2 class="card-header">Liste des ouvrages:</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr><th scope="col">Id</th><th scope="col">Titre</th><th scope="col">Année</th><th scope="col">Auteur(s)</th></tr>
                        </thead>
                        <tbody>
                            {% for ouvr in ouvrages %}
                                <tr>
                                    <th scope="row">{{ ouvr.getId }}</th>
                                    <td>{{ ouvr.getTitre }}</td>
                                    <td>{{ ouvr.getAnnee }}</td>
                                    <td>
                                        {% for aut in ouvr.getAuteurs %}
                                            {{ aut.getPersonne.getNom }}
                                            {% if not loop.last %}
                                                ,&nbsp;
                                            {% endif %}
                                        {% else %}
                                            Pas d'auteur identifié.
                                        {% endfor %}                                                                          
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
